<footer>
    <div class="search-flight-footer-section">
        <h3>About</h3>
        <ul>
            <li><a href="#">About Booking.com</a></li>
            <li><a href="#">How we work</a></li>
            <li><a href="#">Sustainability</a></li>
            <li><a href="#">Press centre</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Investor relations</a></li>
            <li><a href="#">Corporate contact</a></li>
        </ul>
    </div>
    <div class="search-flight-footer-section">
        <h3>Services</h3>
        <ul>
            <li><a href="#">Special/Disability Assistance</a></li>
            <li><a href="#">Medical Assistance</a></li>
            <li><a href="#">Seat Select</a></li>
            <li><a href="#">6€ Eats</a></li>
            <li><a href="#">Add-ons & Services</a></li>
            <li><a href="#">Baggage</a></li>
            <li><a href="#">Refund Claim</a></li>
            <li><a href="#">Charter Services</a></li>
        </ul>
    </div>
    <div class="search-flight-footer-section">
        <h3>Quick Links</h3>
        <ul>
            <li><a href="#">Offers</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Advertise with us</a></li>
            <li><a href="#">Sitemap</a></li>
            <li><a href="#">Destinations</a></li>
            <li><a href="#">Blogs</a></li>
            <li><a href="#">Terms and Conditions</a></li>
            <li><a href="#">Conditions of Carriage</a></li>
        </ul>
    </div>
    <div class="search-flight-footer-section">
        <h3>Social</h3>
        <ul>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Whatsapp</a></li>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">LinkedIn</a></li>
            <li><a href="#">YouTube</a></li>
        </ul>
    </div>
</footer>